html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: darkblue;
    color: whitesmoke;
    padding: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;

}

body {
    height: 100vh;
}

h1 {
    margin-top: 16px;
    text-align: center;
}

#searchSideBar div input{
    width: 80%;
}

#searchSideBar div button {
    width: 17%;
}

#todaysWeather {
    border: 1px solid black;
    border-radius: 6px;
}

ul {
    list-style: none;
}

#fiveDayForecast {
    display: flex;
    flex-direction: row;
}

#weatherResults {
    display: none;
}

.cityBtn {
    border: 1px solid rgb(175, 174, 174);
    border-radius: 6px;
    padding: 6px;

    margin: 6px;
}